<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns 				= "http://java.sun.com/xml/ns/javaee"
  xmlns:xsi				= "http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation	= "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version 				= "3.0" >
	
	<!-- Servlet to test account persistence -->
	
	<!-- url : http://localhost:8080/z-openjpa-maven-web/addAccount -->
	
	<servlet>
    	<servlet-name>addAccount</servlet-name>
    	<servlet-class>com.openjpa.servlet.AccountServlet</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>addAccount</servlet-name>
		<url-pattern>/addAccount</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet to access to challenge init -->
	
	<!-- url : http://localhost:8080/z-openjpa-maven-web/InitChallenge -->
	
	<servlet>
    	<servlet-name>InitChallenge</servlet-name>
    	<servlet-class>com.openjpa.servlet.InitChallengeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>InitChallenge</servlet-name>
		<url-pattern>/InitChallenge</url-pattern>
	</servlet-mapping>
	
	<!-- url : http://localhost:8080/z-openjpa-maven-web/TreatChallenge -->
	
	<servlet>
    	<servlet-name>TreatChallenge</servlet-name>
    	<servlet-class>com.openjpa.servlet.TreatChallengeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TreatChallenge</servlet-name>
		<url-pattern>/TreatChallenge</url-pattern>
	</servlet-mapping>
	
	<!-- url : http://localhost:8080/z-openjpa-maven-web/ContactResearch -->
	
	<servlet>
    	<servlet-name>ContactResearch</servlet-name>
    	<servlet-class>com.openjpa.servlet.ContactResearch</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ContactResearch</servlet-name>
		<url-pattern>/ContactResearch</url-pattern>
	</servlet-mapping>
	
</web-app>